<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6 space-y-6 bg-white rounded-md shadow-md w-full max-w-md">
    <h2 class="text-xl font-semibold text-black text-center">Create Quiz</h2>

    <div class="space-y-3">
      <label class="block text-black text-sm font-bold">
        Title:
        <input type="text" formControlName="title"
          class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none "
          placeholder="Enter quiz title">
        <span *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="text-red-500 text-sm">Title is
          required</span>
      </label>
      <label class="block text-black text-sm font-bold">
        Description:
        <textarea formControlName="description"
          class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none "
          placeholder="Enter quiz description"></textarea>
        <span *ngIf="form.get('description')?.touched && form.get('description')?.invalid"
          class="text-red-500 text-sm">Description is required</span>
      </label>
    </div>

    <div formArrayName="questions" class="space-y-4">
      @if (form.controls['questions'].controls.length === 0) {
      <p class="text-gray-500 italic text-center">No questions yet.</p>
      }
      @for (question of form.controls['questions'].controls; let i = $index; track $index) {
      <div formGroupName="{{i}}" class="bg-white rounded-md p-4 border">
        <h3 class="font-semibold text-lg text-black mb-3">Question {{ i + 1 }}</h3>
        <div class="mb-3">
          <label class="block text-black text-sm font-bold mb-1">Question Text:</label>
          <input type="text" formControlName="text"
            class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none "
            placeholder="Enter question text">
        </div>

        <div formArrayName="answer_choices" class="ml-4 space-y-2">
          <h4 class="font-semibold text-md text-black mt-2">Answers:</h4>
          @for (answer of getAnswerChoicesControls(i); let j = $index; track $index) {
          <div formGroupName="{{j}}" class="flex items-center space-x-2">
            <input type="text" formControlName="text"
              class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none "
              placeholder="Answer option">
            <label class="flex items-center text-green-600 text-sm">
              <input type="checkbox" [checked]="answer.get('is_correct')?.value"
                (change)="onCorrectAnswerSelected(i, j)"
                class="form-radio h-4 w-4 text-blue-500 focus:ring-blue-500 border-gray-300 rounded">
              <span class="ml-2">Correct</span>
            </label>
            <button type="button" (click)="removeAnswer(i, j)"
              class="text-red-500 hover:text-red-700 text-sm focus:outline-none">Delete</button>
          </div>
          }

          <p *ngIf="submitted && getAnswerChoicesControls(i).length < 2" class="text-red-500 text-sm mt-1">
            Each question must have at least two answers.
          </p>

          <button type="button" (click)="addAnswerChoice(i)"
            class="bg-blue-500 hover:bg-primary text-white font-semibold py-2 px-4 rounded focus:outline-none">
            Add Answer
          </button>
        </div>

        <button type="button" (click)="removeQuestion(i)"
          class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded focus:outline-none mt-4 w-full">
          Delete Question
        </button>
      </div>
      }

      <button type="button" (click)="addQuestion()"
        class="bg-primary hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none mt-4 w-full">
        Add Question
      </button>
    </div>



    <p *ngIf="submitted && questions.length === 0" class="text-red-500 text-sm text-center">
      At least one question is required.
    </p>



    <button type="submit" [disabled]="form.invalid"
      class="bg-blue-600 hover:bg-blue-800 text-white font-semibold py-3 px-6 rounded focus:outline-none mt-6 w-full">
      Save Quiz
    </button>
  </form>
</div>