<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white rounded-md shadow-md p-8 text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 text-red-500 mx-auto mb-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.375 1.943 3.375h14.71c1.726 0 2.813-1.875 1.943-3.375a5.53 5.53 0 0 1-4.304-1.468l-4.877-2.688m-2.28 2.712a2.434 2.434 0 0 1-1.106-2.101" />
      </svg>
      <h2 class="text-2xl font-semibold text-red-500 mb-4">Access Denied</h2>
      <p class="text-gray-700 mb-4">You do not have permission to view this page.</p>
      <a routerLink="" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Go to Homepage</a>
    </div>
  </div>