# --- FRONTEND (Angular) ---
/frontend/node_modules
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# --- BACKEND (Django) ---
/backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
/db.sqlite3
*.sqlite3
/media/
.env

# --- COMMON (IDE, OS, Logs) ---
# Node & NPM
npm-debug.log
yarn-error.log

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Logs & Reports
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
