<app-header></app-header>

<div class="flex flex-col justify-center items-center  text-black px-4 mt-32">
    <div class="max-w-2xl text-center space-y-6">
        <h1 class="text-5xl font-bold">Добро пожаловать в QuizApp!</h1>
        <p class="text-xl mt-4">
            Это платформа, где <span class="font-semibold">учителя</span> создают викторины,
            а <span class="font-semibold">студенты</span> проходят их, получая знания и удовольствие.
        </p>
        <p class="text-lg">
            Проверь свои знания, соревнуйся с друзьями и учись весело!
        </p>
        <button
            class="mt-6 bg-white text-indigo-600 font-semibold px-8 py-3 rounded-2xl shadow-lg hover:bg-indigo-100 transition duration-300"
            (click)="goToLogin()">
            Начать
        </button>
    </div>
</div>