<div class="bg-white shadow rounded-2xl p-4 border border-gray-100 hover:shadow-md transition duration-300">
    <h2 class="text-lg font-semibold mb-2">{{ quiz.title }}</h2>
    <p class="text-sm text-slate-500 mb-2 truncate">{{ quiz.description }}</p>

    <div class="mt-4 text-right">
        @if (role === 'student') {
        @if (mode === 'my-quizzes') {
        <a [routerLink]="['/quiz/play', quiz.id]">
            <button (click)="play()" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition">
                {{ 'Play' }}
            </button>
        </a>
        }
        @else {
        <button (click)="enroll()" [disabled]="isEnrolled" [ngClass]="{
                    'bg-blue-500 hover:bg-blue-600': !isEnrolled,
                    'bg-gray-400 cursor-not-allowed': isEnrolled
                  }" class="text-white px-4 py-2 rounded transition">
            {{ isEnrolled ? 'Enrolled' : 'Enroll' }}
        </button>
        }
        }
        @if (role === 'teacher') {
        <button routerLink="/dashboard/manage-quizzes" [queryParams]="{ quizId: quiz.id }"
            class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition">
            Details
        </button>
        }
    </div>
</div>