<div class="flex items-center bg-transparent border-[1.5px] px-5 rounded mb-3">
    <input [type]="isShowPassword ? 'text' : 'password'" [value]="value" (input)="handleInput($event)"
        placeholder="Password" class="w-full text-sm bg-transparent py-3 mr-3 rounded outline-none" />

    <ng-container *ngIf="isShowPassword; else hideIcon">
        <fa-icon [icon]="faEye" size="sm" class="text-primary cursor-pointer" (click)="toggleShowPassword()"></fa-icon>
    </ng-container>

    <ng-template #hideIcon>
        <fa-icon [icon]="faEyeSlash" size="sm" class="text-slate-400 cursor-pointer"
            (click)="toggleShowPassword()"></fa-icon>
    </ng-template>
</div>